
    {% extends "GestionStockBundle::template.html.twig" %}
{% block contenu %}
	<h1><center>Liste des categories </center></h1>
	 <div class="col-md-12" >
        <div class="table-responsive">
            <table id="mytable" class="table table-bordered ">
                <thead>
                    <th>Libellé</th>
                    
                    <th></th>
                </thead>
                <tbody>
                    {% for categorie in categories %}
                         <tr>
                            <td>{{categorie.libelle}}</td>

                            <td>
                            <a href="{{ path('gestion_stock_categorie_modifier', { 'id': categorie.id }) }}"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-list"></span></button></a>
                            <a href="{{ path('gestion_stock_categorie_supprimer', { 'id': categorie.id }) }}"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span></button></a>
                            <a href="{{ path('gestion_stock_categorie_produit', { 'id': categorie.id }) }}"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-trash"></span></button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock%}